body{
    background-size: cover;
    background: red url("anfield2.jpg") no-repeat center center;

}

#match{
    display: flex;
    align-items: center;
    justify-content: center;
}

#crest{
    display: flex;
    align-items: center;
    justify-content: center;
}

#user{
    display: flex;
    align-items: center;
    justify-content: center;

}

#guess{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#field{
    display: flex;

    justify-content: center;
    margin-top: 20px;
    background: url("Field2.jpg") no-repeat center;
    background-size: contain;


}

@media (min-width: 1000px){
    #field{

        background: url("Field2.jpg") no-repeat center;
        background-size: 60%;
    }
}

.responsive1{
    max-width: 25%;
    height: auto;
}

.responsive4{

    max-width: 100%;
    height: auto;
}
#gkrow{
height: 25%;

}
#dfrow{
    height: 25%;

}
#mfrow{
    height: 25%;

}
#strow{
    height: 25%;

}

.player{

}

#header{
    margin-top: 20px;
}

#score{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.guesstable{
    background-color: blue;
}

tbody{
    background-color: blue;
}

thead{
    background-color: saddlebrown;
    text-align: center;
}



