body{
    background-size: cover;
    background: darkred url("anfield2.jpg") no-repeat center center;

}

#match{
    display: flex;
    align-items: center;
    justify-content: center;
}

#crest{
    display: flex;
    align-items: center;
    justify-content: center;
}

#user{
    display: flex;
    align-items: center;
    justify-content: center;

}

#guess{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#field{
    display: flex;

    justify-content: center;
    margin-top: 20px;
    background: url("Field2.jpg") no-repeat center;
    background-size: contain;



}

@media (min-width: 1600px){
    #field{

        background: url("Field2.jpg") no-repeat center;
        background-size: 60%;
        height: 850px;
    }
}

@media (min-width: 1000px) and (max-width: 1590px){
    #field{

        background: url("Field2.jpg") no-repeat center;
        background-size: 80%;
        height: 806px;
    }
}

@media (min-width: 601px) and (max-width: 999px){

    #field{

        background: url("Field2.jpg") no-repeat center;
        background-size: 98%;
        height: 806px;

    }

    .responsive1{
        margin-top: 10%;
        width: 50px;
        height: auto;


    }
    .responsive4{
        width: 50px;
        height: auto;
    }

    #noRed{
        display: flex;
    }

}


@media (max-width: 600px){

    #field{

        background: url("Field2.jpg") no-repeat center;
        background-size: 100%;
        height: 806px;
    }

    #gk{

    }

    .responsive1{
        margin-top: 25%;
        width: 50px;
        height: auto;


    }
    .responsive4{
        width: 50px;
        height: auto;
    }

}



.jumbotron{
    background: url("red banner.png");
}

.responsive1{
    max-width: 25%;
    height: auto;
}

.responsive4{

    max-width: 100%;
    height: auto;
}

#gk{


}

#gkrow{
height: 25%;

}
#dfrow{
    height: 25%;

}
#mfrow{
    height: 25%;

}
#strow{
    height: 25%;

}

.player{

}

#header{
    margin-top: 5px;
}

#score{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.guesstable{
    background-color: darkred;
}

tbody{
    background: url("red banner.png");
    font-family: "Franklin Gothic Heavy";
    text-shadow: 1px 1px 0 black;
    color: white;


}

thead{
    background: url("red banner.png");
    font-family: "Felix Titling";
    text-align: center;
    color: antiquewhite;
    font-weight: bold;
    font-size: 150%;

}

select{
    color: black;
}

input{
    color: black;
}

button{
    color: black;
}

.yourscore{
    font-weight: bold;
    font-size: 125%;
}

.btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    position: center;
    margin-top: 10px;

}

.modal-header{
    text-align: center;


}




