body{
    background-size: cover;
    background: url("anfield.jpg") no-repeat center center;

}

#match{
    display: flex;
    align-items: center;
    justify-content: center;
}

#crest{
    display: flex;
    align-items: center;
    justify-content: center;
}

#user{
    display: flex;
    align-items: center;
    justify-content: center;
}

#guess{
    display: flex;
    align-items: center;
    justify-content: center;
}

#field{
    display: flex;
    align-items: center;
    justify-content: center;
}

#score{
    display: flex;
    align-items: center;
    justify-content: center;
}

.guesstable{
    background-color: blue;
}

tbody{
    background-color: blue;
}

thead{
    background-color: saddlebrown;
    text-align: center;
}



#drag-1, #drag-2 {
    width: 25%;
    height: 100%;
    min-height: 6.5em;
    margin: 10%;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}